{% extends "layout.html" %}
{% block content %}
    <div class="form-inline form-group" >
        {{prd_nm}}
    </div>
    <div class="form-inline form-group" >
        <table class="table table-bordered">
            <thead>
            <td>포장단위명</td>
            <td>cnt</td>
            <td>단위 sum</td>
            <td>평균 가격</td>
            </thead>
            <tbody>
            {% for re in agg_result %}
            <tr>
                <td>{{ re }}</td>
                <td>{{ agg_result[re].cnt }}</td>
                <td>{{ agg_result[re].sum_1prut }}</td>
                <td>{{ (agg_result[re].sum_1prut / agg_result[re].cnt)|round }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-inline form-group" >
        <a href="{{url_for('auction_list', date=date, prd_cd=prd_cd)}}">{{ prd_nm }}</a>
    </div>
{% endblock content %}