{% extends "layout.html" %}
{% block content %}
    <form action="{{url_for('statistics')}}" method="post">
        <div class="col-md-2">
            <input type="text" class="form-control" name="date" value="{{ date }}" id="date" placeholder="기한을 선택해주세요."/>
            <input type="submit" class="btn btn-primary" value="Next"/>
            <input type="hidden" name="date" value="{{ date }}" />
            <input type="hidden" name="last_evaluated_key" value="{{ last_evaluated_key }}" />
        </div>
    </form>
    <table class="table">
        <thead>
            <td>경락일자</td>
            <td>품목코드</td>
            <td>거래 건수</td>
            <td>품목명</td>
            <td>경락가격</td>
        </thead>
        <tbody>
        {% for post in r %}
        <tr>
            <td>{{ post.date }}</td>
            <td>post</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}