{% extends "layout.html" %}
{% block content %}
    <form action="{{url_for('statistics')}}" method="post">
        <div class="col-md-2">
            <input type="text" class="form-control" name="date" value="{{ date }}" id="date" placeholder="기한을 선택해주세요."/>
            <input type="submit" class="btn btn-primary" value="Next"/>
            <input type="hidden" name="date" value="{{ date }}" />
            <input type="hidden" name="last_evaluated_key" value="{{ last_evaluated_key }}" />
        </div>
    </form>
    <div class="form-inline form-group" >

    </div>
    <table class="table">
        <thead>
            <td>경락일자</td>
            <td>품목코드</td>
            <td>거래 건수</td>
            <td>품목명</td>
            <td>평균 경락가격</td>
        </thead>
        <tbody>
        {% for post in result %}
        <tr>
            <td>{{ post.date }}</td>
            <td><a href="{{url_for('aggr', date=post.date, prd_cd=post.prd_cd)}}">{{ post.prd_cd }}</a></td>
            <td>{{ post.total_cnt }}건</td>
            <td>{{ post.prd_nm }}</td>
            <td>{{ post.mean_price }}원</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        const aa = () =>{
            fetch('/api').then(res=>{
                res.json().then(data=>{
                 console.log(data)
                })
            })
        }
        aa()
    </script>
{% endblock content %}