{% extends "layout.html" %}
{% block content %}
    <div class="col-md-6">
        total: {{ total }}
    </div>
    <div class="col-md-8">
        last_evaluated_key: {{ last_evaluated_key }}
    </div>
    <form action="{{url_for('auction_list')}}" method="get">
        <div class="col-md-6">
            <input type="text" class="form-control" name="date" value="{{ date }}" id="date" placeholder="기한을 선택해주세요."/>
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-primary"/>
        </div>
    </form>
    <form action="{{url_for('auction_list')}}" method="post">
        <div class="col-md-1">
            <input type="submit" class="btn btn-primary" value="Next"/>
            <input type="hidden" name="date" value="{{ date }}" />
            <input type="hidden" name="last_evaluated_key" value="{{ last_evaluated_key }}" />
        </div>
    </form>
    <table class="table">
        <thead>
            <td>경락일자</td>
            <td>도매시장명</td>
            <td>분류명</td>
            <td>품목명</td>
            <td>단위</td>
            <td>등급</td>
            <td>수량</td>
            <td>경락가격</td>
        </thead>
        <tbody>
        {% for post in list %}
        <tr>
            <td>{{ post.delngDe }}</td>
            <td>{{ post.whsalMrktNm }}</td>
            <td>{{ post.stdPrdlstNewNm }}</td>
            <td>{{ post.stdPrdlstNm }}</td>
            <td>{{ post.stdUnitNewNm }}</td>
            <td>{{ post.stdQlityNewNm }}</td>
            <td>{{ post.delngQy }}</td>
            <td>{{ post.sbidPric }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}