{% extends "layout.html" %}
{% block content %}
    <form action="{{url_for('statistics')}}" method="post">
        <div class="col-md-2">
            <input type="text" class="form-control" name="date" value="{{ date }}" id="date" placeholder="기한을 선택해주세요."/>
<!--            <input type="submit" class="btn btn-primary" value="Next"/>-->
            <input type="hidden" name="date" value="{{ date }}" />
            <input type="hidden" name="last_evaluated_key" value="{{ last_evaluated_key }}" />
        </div>
    </form>
    <div class="form-inline form-group">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>경락일자</th>
                <th>품목코드</th>
                <th>거래 건수</th>
                <th>품목명</th>
                <th>평균 경락가격</th>
            </tr>
            </thead>
            <tbody id="scroller">
                <template id="row_template">
                    <tr>
                        <td id="delng_de"></td>
                        <td id="prd_cd"></td>
                        <td id="total_cnt"></td>
                        <td id="prd_nm"></td>
                        <td id="mean_price"></td>
                    </tr>
                </template>
            </tbody>
        </table>

    </div>
    <div class="form-inline form-group" id="sentinel">
    </div>
    <script>
        $(document).ready(function(){
            $("#date").datepicker({format: "yyyymmdd", autoclose : true});

        }).on("changeDate", function(e) {
            console.log(e)
        });
        const template = document.querySelector('#row_template')
        const scroller = document.querySelector('#scroller')
        const sentinel = document.querySelector('#sentinel')

        const aa = () =>{
            fetch('/api/statistics').then(res=>{
                res.json().then(data=>{
                    data.forEach(item=>{
                        let template_clone = template.content.cloneNode(true)
                        template_clone.querySelector('#delng_de').innerHTML = item['date']
                        template_clone.querySelector('#prd_cd').innerHTML = item['prdcd_whsal_mrkt_new_cd'].replace('CRAWL#', '')
                        template_clone.querySelector('#total_cnt').innerHTML = item['total_cnt']
                        template_clone.querySelector('#prd_nm').innerHTML = item['prd_nm']
                        template_clone.querySelector('#mean_price').innerHTML = item['mean_price']
                        scroller.appendChild(template_clone)

                    })

                })
            })
        }
        const intersectionObserver = new IntersectionObserver(entries => {
            console.log('ioioioio')
        })
        intersectionObserver.observe(sentinel)
        aa()
    </script>
{% endblock content %}