{% extends "layout.html" %}
{% block content %}
    <form action="{{url_for('statistics')}}" method="post">
        <div class="col-md-2">
            <input type="text" class="form-control" name="date" value="{{ date }}" id="date" placeholder="기한을 선택해주세요."/>
<!--            <input type="submit" class="btn btn-primary" value="Next"/>-->
            <input type="hidden" name="date" value="{{ date }}" />
            <input type="hidden" name="last_evaluated_key" value="{{ last_evaluated_key }}" />
        </div>
    </form>
    <div class="form-inline form-group">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>경락일자</th>
                <th>품목코드</th>
                <th>거래 건수</th>
                <th>품목명</th>
                <th>평균 경락가격</th>
            </tr>
            </thead>
            <tbody id="scroller">
                <template id="row_template">
                    <tr>
                        <td id="delng_de"></td>
                        <td><a id="prd_cd"></a></td>
                        <td id="total_cnt"></td>
                        <td id="prd_nm"></td>
                        <td id="mean_price"></td>
                    </tr>
                </template>
            </tbody>
        </table>

    </div>
    <div class="form-inline form-group" id="sentinel">
    </div>
    <script>
        const template = document.querySelector('#row_template')
        const delngDe = document.querySelector('#date')
        const scroller = document.querySelector('#scroller')
        const sentinel = document.querySelector('#sentinel')
        let lek = ''
        let url_prefix = ''

        const aa = () =>{
            if (document.location.hostname != 'localhost'){
                url_prefix = '/dev'
            } else {
                document.write('nelloo')
            }
            let end_point = `${url_prefix}/api/statistics?date=${delngDe.value}&lek=${lek}`
            console.log('ep', end_point)
            fetch(end_point).then(res=>{

                res.json().then(data=>{
                    console.log('fetch_response', data)
                    lek = data.lek
                    data.data.forEach(item=>{
                        let prdcd = item['prdcd_whsal_mrkt_new_cd'].replace('CRAWL#', '')
                        let template_clone = template.content.cloneNode(true)
                        template_clone.querySelector('#delng_de').innerHTML = item['date']
                        template_clone.querySelector('#prd_cd').innerHTML = prdcd
                        template_clone.querySelector('#prd_cd').href = `${url_prefix}/aggr?date=${item['date']}&prd_cd=${prdcd}`
                        template_clone.querySelector('#total_cnt').innerHTML = item['total_cnt']
                        template_clone.querySelector('#prd_nm').innerHTML = item['prd_nm']
                        template_clone.querySelector('#mean_price').innerHTML = item['mean_price']
                        scroller.appendChild(template_clone)

                    })

                })
            })
        }

        $(document).ready(function(){
            $("#date").datepicker({format: "yyyymmdd", autoclose : true});

        }).on("changeDate", function(e) {
            console.log(e.target.value)
            lek = ''
            // aa()
            window.location.replace(`${url_prefix}/statistics?date=${e.target.value}`)
        });

        const intersectionObserver = new IntersectionObserver(entries => {
            if (entries[0].intersectionRatio <= 0){
                return;
            }else{
                console.log(lek)
            }
        })
        intersectionObserver.observe(sentinel)
        aa()
    </script>
{% endblock content %}